@import 'variables.scss';
@import 'colors.scss';

* {
    margin: 0;
}

body {
    background-color: var(--fundo);
}

.dark-mode {
    section {
        border: 1px solid white;
    }
    article {
        border: 1px solid white;
    }
    button {
        border: 1px solid white;
    }
    footer {
        border: 1px solid white;
    }
    header {
        border: 1px solid white;
    }

    svg {
        filter: invert(100%);
        opacity: 1;
    }

    .link  {
        a {
            text-decoration: underline;
        }
    }

    .texto {
        caption {
            color: white;
        }
    }
}

.elementor-widget-heading .elementor-heading-title {
    color: var(--texto);
}

.texto {
    color: var(--texto);
}

.link a{
    color: var(--link);
}

dark-mode  {
    
}

.slide {
    background-color: var(--slide);
}

footer {
    background-color: var(--footer);
}

.splide {
    height: 419px;
    content-visibility: auto;
}

.prev {
    width: 0 !important;
    height: 0 !important;
    border-top: 110px solid transparent !important;
    border-bottom: 80px solid transparent !important;
    border-left: 80px solid var(--botoes-slide) !important;
    left: 0 !important;

    svg {
        position: absolute;
        right: 35px;
        font-size: 25px;
    } 
}

.next {
    width: 0 !important;
    height: 0 !important;
    border-top: 110px solid transparent !important;
    border-bottom: 80px solid transparent !important;
    border-right: 80px solid var(--botoes-slide) !important;
    right: 0 !important;

    svg {
        position: absolute;
        left: 35px;
        font-size: 25px;
    }
}

.splide__arrow {
    background: none !important;
    border-radius: 0 !important;
    top: 85% !important;
}

.slide-title{
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
    color: var(--texto);
}

.slide-content{
    padding: 10px 80px 10px 80px;
    color: var(--texto);
    font-size: 0.8rem;
    text-align: center;
    max-height: 385px;
    text-overflow: ellipsis;
}

.textao {
    text-align: justify;
}