@import 'variables.scss';

*{
    margin: 0;
} 

.splide{
    height: 424px;
}

.prev {
    width: 0;
    height: 0;
    border-top: 80px solid transparent;
    border-bottom: 80px solid transparent;
    border-left: 80px solid #ABA8B2;
    left: 0 !important;
}
.next {
    width: 0;
    height: 0;
    border-top: 80px solid transparent;
    border-bottom: 80px solid transparent;
    border-right: 80px solid #ABA8B2;
    right: 0 !important;
}
.splide__arrow{
    background: none !important;
    border-radius: 0 !important;
    top: 85% !important;
}
