@import 'variables.scss';

* {
    margin: 0;
}

.splide {
    min-height: 424px;
    content-visibility: auto;
}

.prev {
    width: 0 !important;
    height: 0 !important;
    border-top: 110px solid transparent !important;
    border-bottom: 80px solid transparent !important;
    border-left: 80px solid #CC3A46 !important;
    left: 0 !important;

    svg {
        position: absolute;
        right: 35px;
        font-size: 25px;
    } 
}

.next {
    width: 0 !important;
    height: 0 !important;
    border-top: 110px solid transparent !important;
    border-bottom: 80px solid transparent !important;
    border-right: 80px solid #CC3A46 !important;
    right: 0 !important;

    svg {
        position: absolute;
        left: 35px;
        font-size: 25px;
    }
}

.splide__arrow {
    background: none !important;
    border-radius: 0 !important;
    top: 85% !important;
}

.slide-title{
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
    color: #fff;
}
.slide-content{
    padding: 10px 80px 10px 80px;
    color: #fff;
    font-size: 0.8rem;
    max-height: 385px;
    text-overflow: ellipsis;
}